:root {
    --main-color: #28a44c;
    --main-font: Tajawal;
    --white: #d1d1d149;
  }
  
 

.hero{
    display: flex;
    background-color: var(--main-color);
    padding-left: 30px;
    padding-right: 30px;


    height: 100vh;
    justify-content: space-between;
}
.hero .first-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-left: 20px;

}
.hero .first-part p:first-of-type{
    font-size: 50px;
    color: white;
    font-weight: 700;
   
}
.hero .first-part p img{
    width: 70px;
    position: relative;
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
}
.hero .first-part p img:hover{
    transform: rotate(360deg);
}

.hero .first-part p:last-of-type{
    font-size: 15px;
    color: white;
    font-weight: 400;
    margin-left: 5;
    margin-top: 30px;
    width: 100%;
    
}
.hero .second-part{
    background-color:#EDEDED;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 10px;

}
.hero .second-part img{
    position: relative;
    bottom: 0;
    left: 0;
    top: 20%;
    animation: bounce 2s infinite ease-in-out;


}
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
  }

  .hero .third-part{
    width: 40%;
    margin-top: 250px;
    margin-left: 20px;
  }
.hero .third-part img{
width: 50px;
transition: all 0.5s ease-in-out;

}
.hero .third-part img:hover{
    transform: rotate(360deg);
}

.hero .third-part p{
    color: white;
    }
    .hero .third-part p a{
        color: white;
        font-weight: 700;
        transition: 0.5s;
        }
        .hero .third-part p a:hover{
            transform: scale(1.1);
            color: green;
            }

.hero .third-part .desc{
    display: flex;
    justify-content: space-between;
}

.hero .third-part .desc button{
    padding: 8px;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 12px;
    width: 150px;
}

.hero .third-part p:last-of-type{
    color: white;
    margin-top: 100px;
    }


    @media screen and (max-width:786px) {

        .hero .first-part p:first-of-type{
            /* font-size: 20px; */
        }
        .hero .second-part{
            display: none;
            /* width: 40%;
            border-top-left-radius: 0;
            border-top-right-radius: 0; */
        
        }
        .hero .second-part img{
            width: 200px;
        }
        
    }

    /* Body */


    .descreption{
        margin-top: 50px;
     width: 100%;
     padding-left: 30px;
     padding-right: 30px;
     margin-bottom: 50px;
     height: 20vh;
    }
    .descreption .descreption-cards{
        display: flex;
        justify-content: space-between;
        height: 100%;
        

    }
    .descreption .descreption-cards hr{
        border: 1px solid black;
    }
    .descreption .descreption-cards .desc-card{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: 100%;
    }
    .descreption .descreption-cards .desc-card i {
        font-size: 30px;
        color: var(--main-color);
        transition: all 0.5s ease;
        position: relative;
        top: -8px;
    }
    .descreption .descreption-cards .desc-card p{
        transition: all 0.5s ease;

    }
    .descreption .descreption-cards .desc-card i:hover {
        transform: translateY(-10px);
    }

    .descreption .descreption-cards .desc-card p:hover {
        transform: translateX(10px);
    }



    @media screen and (max-width:768px) {
        .descreption .descreption-cards{
            flex-direction: column;
        }
        .journey-section{
            margin-top: 200px;
        }
        .journey-section .journey-cards{
          flex-direction: column;
  
      }
        
    }


    /* journey-section */
    .journey-section{
        background-color: #EDEDED;
        width: 100%;
        padding: 30px;
    }
    .journey-section h1{
        color: var(--main-color);
        font-weight: 700;
    }
    .journey-section .journey-cards{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .journey-cards .first-section{
        margin-top: 10px;
        display: flex;
        justify-content: start;
        gap: 10px;
    }
    .journey-cards .first-section .desc-journey{
        width: 50%;
    }
    .journey-cards .first-section .desc-journey p:first-of-type{
       font-size: 40px;
       font-weight: 700;
       color: var(--main-color);
    }
    
    .journey-cards .first-section .desc-journey hr{
        color: #28a44c;
     }
     .journey-section  .action{
      display: flex;
      /* top: 10px;
      left: 50px; */
      flex-direction: row;
      gap: 5px;
      width: 100%;
      align-items: center;
     }
     .journey-section .action a{
      color: black;
     }
     
     .journey-section  .action p{
      position: relative;
      top: 6px;
     }

/* OUR TEAM */
     .our-team{
      background-color: rgb(247, 248, 249);
      padding: 30px;
      padding-left: 40px;
      padding-right: 80px;
      display: flex;
      flex-direction: column;
      padding-top:70px;
      height: 100vh;
  }
  .our-team .team-members{
      padding: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
  }
  .our-team .team-members .card1{
      height: 100%;
      width: 30%;
      background: url('./img/tojan.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .our-team .team-members .card2{
      height: 100%;
      width: 30%;
      background: url('./img/tamara.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .our-team .team-members .card3{
      height: 100%;
      width: 30%;
      background: url('./img/ruba.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .team-members .desc-team{
      background-color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 70px;
      text-align: center;
      overflow: hidden;
      transition:  0.5s ;
   
  
  }
  .team-members .contact-team{
      color: var(--main-color);
  }
  
  .team-members .desc-team:hover{
      height: 100px;
  
  }
  @media (max-width:700px){
      .our-team .team-members{
       flex-direction: column;
       padding: 5px;
      }
      .our-team .team-members .card1{
          width: 100%;
      }
      .our-team .team-members .card2{
          width: 100%;
      }
  
      .our-team .team-members .card3{
          width: 100%;
      }
  
  
  }
   /* Review Section */


   .review{
    width: 100%;
    padding: 40px;
  }
  .review h1{
    margin-bottom: 100px;
  }
  .review .review-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .review .review-cards .review-card{
    box-shadow: 0px 0px 2px 1px var(--main-color);
   padding: 10px;
  
  }
  .review .review-cards .review-card img{
    border-radius: 50%;
    width: 90px;

  }
  .review .review-cards .review-card p{
    font-size: 13px;
    margin-bottom: 0;

  }

  .review .review-cards .review-card .review-section{
    color: var(--main-color);
    margin-left: 10px;
  }
  .review .review-cards .review-card #quote{
    float: right;
    position: relative;
    right: 0;
    top: 0;
    font-size: 80px;
    color: #eaeaea;
  }
  @media (max-width:700px){
    .review .review-cards{
        grid-template-columns: 1fr  ;
    }
  }

